<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="easymall.dao.ProductsDao">
	<select id="allcategorys" resultType="String">
		select distinct(category) from products
	</select>

	<select id="prodlist" resultType="easymall.po.Products"
		parameterType="map">
		select * from products where (price between #{minPrice} and
		#{maxPrice})
		<if test="name!=null and name!=''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="category!=null and category!=''">
			and category=#{category}
		</if>
	</select>

	<select id="oneProduct" parameterType="String"
		resultType="easymall.po.Products">
		select * from products where id=#{pid}
	</select>

	<select id="proclass" parameterType="String"
		resultType="easymall.po.Products">
		select * from products where category=#{category}
	</select>
</mapper>